<ion-view title="My Home" id="page5">
  <ion-content padding="true" class="has-header">
  	
 <div style="margin-left: -10px; width: calc(70% + 40%);">
      <img src="img\graph.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
<div id="more-container1">
      <div id="more-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">You will complete you mortgage in: </p>
      </div>
    </div>
    <div id="more-container2">
      <div id="more-markdown3" class="show-list-numbers-and-dots">
        <p style="color:#000000;">Disposable income this Month:</p>
      </div>
    </div>

<div id="more-button-bar1" class="button-bar">
      <button id="more-button5" style="font-size:10px;text-align:left;" class="button button-positive button-small button-block overflow-me">Help me move home</button>
      <button id="more-button6" style="font-size:10px;" class="button button-positive button-large button-block">Help me pay off quicker</button>
      <button id="more-button7" style="font-size:10px;" class="button button-positive button-block">Show me offers</button>
    </div>
  </ion-content>
 
</ion-view>