<ion-view title="Ulster Banks Offer" id="page6">
  <ion-content padding="true" class="has-header">
      <div id="more-markdown2" style="padding-top: 10px; padding-bottom: 10px;"class="show-list-numbers-and-dots">
        <p style="text-align: center; font-weight: bold;
        color:#000000;">20 High Street, London, N3 2QT </p>
      </div>

      <!--<div style="width: 300px; height: 100px;" id="ulsterBanksOffer-container2" class="creator-container">
        
      </div>-->
    
<div style="width: 300px; height: 15px;" id="ulsterBanksOffer-container2" class="creator-container">



    <div id="ulsterBanksOffer-container3">
      <div id="ulsterBanksOffer-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000; text-align: center; ">We believe the value of the <br> property is <b>£571,525</b></p>
      </div>

<div style="width: 300px; height: 15px;" id="ulsterBanksOffer-container2" class="creator-container">
        
      </div>

      <div id="ulsterBanksOffer-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000; text-align: center;">How much have you go left <br> on your mortgage? </p>
      </div>
      <div id="ulsterBanksOffer-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;text-align: center;">How long do you want the <br>term of your mortgage to last for?</p>
         <ion-list>
  <ion-item>
    <ion-label>Gaming</ion-label>
    <ion-select [(ngModel)]="gaming">
      <ion-option value="nes">NES</ion-option>
      <ion-option value="n64">Nintendo64</ion-option>
      <ion-option value="ps">PlayStation</ion-option>
      <ion-option value="genesis">Sega Genesis</ion-option>
      <ion-option value="saturn">Sega Saturn</ion-option>
      <ion-option value="snes">SNES</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
      </div>
     
    

<div style="width: 300px; height: 100px;" id="ulsterBanksOffer-container2" class="creator-container">
</div>
    <button id="ulsterBanksOffer-button8" class="button button-positive button-block button-block icon-right ion-android-arrow-forward" onclick="showMyOffer()">Get in touch with me</button>
  </ion-content>
</ion-view>