
<ion-view title="Ulster Banks Offer" id="page6">
  <ion-content padding="true" class="has-header">
      <div id="more-markdown2" style="padding-top: 10px; padding-bottom: 10px;"class="show-list-numbers-and-dots">
        <p style="text-align: center; font-weight: bold;
        color:#000000;">20 High Street, London, N3 2QT </p>
      </div>

      <!--<div style="width: 300px; height: 100px;" id="ulsterBanksOffer-container2" class="creator-container">
        
      </div>-->
    
<div style="width: 300px; height: 15px;" id="ulsterBanksOffer-container2" class="creator-container">

<p id="TestInput"></p>


    <div id="ulsterBanksOffer-container3">
      <div id="ulsterBanksOffer-markdown4" class="show-list-numbers-and-dots">
        <p style="color:#000000; text-align: center; ">We believe the value of the <br> property is <b>£571,525</b></p>
      </div>

<div style="width: 300px; height: 15px;" id="ulsterBanksOffer-container2" class="creator-container">
        
      </div>

      <div id="ulsterBanksOffer-markdown6" class="show-list-numbers-and-dots">
        <p style="color:#000000; text-align: center;">How much have you go left <br> on your mortgage? </p>
      </div>
<div style="padding-left: 15px;">
<form id="more-form" class="list">
  <ion-item class="range range-positive" id="more-range3">Loan Value
        <input type="range" value="400000" min="0" max="500000" step="1000">
      </ion-item>
 </form>

</div>
 


      <div id="ulsterBanksOffer-markdown5" class="show-list-numbers-and-dots">
        <p style="color:#000000;text-align: center;">How long do you want the <br>term of your mortgage to last for?</p>
 </div>


  <!--<div >
  <input  type="range" min="1" max="100" value="50">
  </div>
  <ion-list>
    <ion-list-header>
      Adjust Display
    </ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="brightness">
        <ion-icon range-left small name="sunny"></ion-icon>
        <ion-icon range-right name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="-200" max="200" pin="true" [(ngModel)]="contrast" color="secondary">
        <ion-icon range-left small name="contrast"></ion-icon>
        <ion-icon range-right name="contrast"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range dualKnobs="true" pin="true" [(ngModel)]="structure" color="dark">
        <ion-icon range-left small name="brush"></ion-icon>
        <ion-icon range-right name="brush"></ion-icon>
      </ion-range>
    </ion-item>
    <ion-item>
      <ion-range min="1000" max="2000" step="100" snaps="true" [(ngModel)]="warmth" color="danger">
        <ion-icon range-left small color="danger" name="thermometer"></ion-icon>
        <ion-icon range-right color="danger" name="thermometer"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Adjust Text
    </ion-list-header>
    <ion-item>
      <ion-range min="-100" step="10" snaps="true" [(ngModel)]="text">
        <ion-label range-left class="small-text">A</ion-label>
        <ion-label range-right>A</ion-label>
      </ion-range>
    </ion-item>
  </ion-list>-->



     
     
     <div style="padding-left: 15px;">
     <form id="more-form" class="list">
      <label class="item item-select" id="more-select2">
        <span class="input-label">Term</span>
        <select>
          <option>2 yrs</option>
          <option>3yrs</option>
          <option>5yrs</option>
        </select>
      </label>
    
    </form>
     </div>
    

<div style="width: 300px; height: 50px;" id="ulsterBanksOffer-container2" class="creator-container">
</div>
    <button id="ulsterBanksOffer-button8" class="button button-positive button-block button-block icon-right ion-android-arrow-forward" onclick="showMyOffer()">Get in touch with me</button>
  </ion-content>
</ion-view>